          .box-container {
              display: flex;
              justify-content: center;
              margin-top: 20%;
          }
          
          .Form {
              display: flex;
              flex-direction: column;
              width: 400px;
              top: 50%;
              justify-content: center;
              background: #1C1C1C;
              align-items: center;
              border-radius: 24px;
              height: 500px;
          }
          
          .Login-title {
              color: whitesmoke;
              text-transform: uppercase;
          }
          
          .Form-Btn {
              color: whitesmoke;
              background: none;
              border: none;
              padding: 14px 10px;
              text-align: center;
              border: solid whitesmoke;
              outline: none;
              border-radius: 24px;
              margin-top: 20px;
              transition: 0.25s;
              width: 120px;
              cursor: pointer;
          }
          
          
          .Form-Field {
              color: whitesmoke;
              background: none;
              border: none;
              padding: 14px 10px;
              text-align: center;
              border: solid whitesmoke;
              outline: none;
              border-radius: 24px;
              margin-top: 20px;
              transition: 0.25s;
              width: 220px;
          }
          
          .Form-Fiel:focus {
              width: 280px;
              border-color: #411d63;
          }